<div fxLayout="column" fxLayoutAlign="center center" style="margin: 2em;">

  <h1>Basi di RxJS</h1>

  <div fxFlex fxLayout="row" fxLayoutAlign="center" style="width: 100%;">

    <button mat-raised-button color="primary" type="button">

    </button>

  </div>

  <div style="margin: 2em;">

  </div>

  <div>
    <button mat-raised-button color="accent" type="button" routerLink="/change-detection-push">
      Indietro
    </button>

    <!-- <button fxFlexOffset="5" mat-raised-button color="primary" type="button" routerLink="/">
      Avanti
    </button> -->
  </div>

</div>
